@inject NavigationManager NavigationManager
@inject IConfiguration Configuration
@inject IStringLocalizer<App> Localizer

@if (cultures != null)
{
    <span class="pr-2">@Localizer["Site Language"]</span>
    <form class="form-inline">
        <select class="form-control mr-2" value="@selectedCulture" @onchange="OnValueChanged">
            <option>Select...</option>
            @foreach (var culture in cultures)
            {
                <option value="@culture.Key">@culture.Value</option>
            }
        </select>
    </form>
}

@code {
    private string selectedCulture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    private Dictionary<string, string> cultures;

    protected override void OnInitialized()
    {
        cultures = Configuration.GetSection("Cultures")
            .GetChildren().ToDictionary(x => x.Key, x => x.Value);
    }

    private void OnValueChanged(ChangeEventArgs e)
    {
        selectedCulture = (e.Value.ToString());
        RequestCultureChange();
    }

    private void RequestCultureChange()
    {
        if (string.IsNullOrWhiteSpace(selectedCulture))
        {
            return;
        }

        var uri = new Uri(NavigationManager.Uri)
            .GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);

        var query = $"?culture={Uri.EscapeDataString(selectedCulture)}&" +
            $"redirectUri={Uri.EscapeDataString(uri)}";

        NavigationManager.NavigateTo("/Culture/SetCulture" + query, forceLoad: true);
    }


}
