@page "/"
@page "/Index"
@using TestBlazorComponent.Data;
@inject TestBlazorComponent.Data.ISampleCalendarDataService sampleCalendarDataService;
@inject IStringLocalizer<App> Localizer

<h1 class="hideWhenPrint">@Localizer["Hello"], Blazor Calendar! @CalendarName</h1>
<hr />
<div class="">
<Calendar @ref="CalendarCtrl"
    CalendarItems="Items"
    ItemClick="Cal_OnItemClick"></Calendar>
</div>
@code{

    private Calendar CalendarCtrl;
    private List<CalendarItem> Items;
    private string CalendarName { get; set; }

    protected override void OnInitialized()
    {
        Items = sampleCalendarDataService.GetAll();
    }

    private async Task Cal_OnItemClick(CalendarItem item)
    {
        await Task.Delay(0);
        CalendarName = item.Name;
    }
}