@page "/"
@page "/Index"
@using TestBlazorComponent.Data;
@inject TestBlazorComponent.Data.ISampleCalendarDataService sampleCalendarDataService;
@inject IJSRuntime jsRunTime

<h1 class="hideWhenPrint">Hello, Calendar! @CalendarName</h1>
<hr />
<Calendar @ref="CalendarCtrl"
          CalendarItems="Items"
          ItemClick="Cal_OnItemClick"></Calendar>
<hr />
@code{

    private Calendar CalendarCtrl;
    private List<CalendarItem> Items;
    private string CalendarName;

    protected override void OnInitialized()
    {
        Items = sampleCalendarDataService.GetAll();
        }

    private async Task Cal_OnItemClick(CalendarItem item)
    {
        await Task.Delay(0);
        CalendarName = item.Name;
    }
}